.bkground {
  padding-bottom: 800px;
  background-image: url(file:///home/ken/Desktop/moringa-school-independent-projects/ken/TRIANGLE-TRACKER/image/logo.gif);
}
.btn{
  margin-left: 350px;
  margin-top: 10px;
  height: 60px;
  width: 100px;
  float: right;
  margin-right: 124px;
  background-color: darkorange;
  border-radius: 1em;
}
#font {
  font-size: 52px;
  text-align: center;
  margin-left: 30px;
  color: darkorange;
}
.tri {
  margin-left: 60px;
  background-image: url(file:///home/ken/Desktop/moringa-school-independent-projects/ken/TRIANGLE-TRACKER/image/3dtri.jpg);
  margin-left: -8px;
  margin-top: -35px;
  margin-right: -8px;
  margin-bottom: -8px;
}
.upper {
  font-variant-caps: all-petite-caps;
  font-size: 28px;
  color: darkred;

}
.tributton {
  float: right;
}
button {
  height: 250px;
  width: 650px;
  border-radius: 3.25em;
  color: darkorange;
  font-size: 20px;
  border-color: black;
}
#p {
  font-size: 25px;
}
